.detail {
  flex: 1;
  overflow-y: auto;

  .user {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .photos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        .photoItem {
          width: min-content;
          img, video {
            width: 70px;
            height: 70px;
            border-radius: 5px;
            object-fit: cover;
          }
        }
      }
    }

    button {
      margin-top: 10px;
      padding: 15px;
      background-color: rgba(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(220, 20, 60, 0.796);
      }

      &.logout {
        padding: 10px;
        background-color: #1a73e8;
      }
    }
  }
}

.MuiAccordion-root {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
}

.MuiSvgIcon-root,
.MuiAccordionDetails-root {
  color: white;
  padding: 0 !important;

  button {
    width: 100%;
  }
}